<header>
  <h1>Aplicação de Autenticação</h1>
  <nav>
    <ul>
      <ng-container *ngIf="!authService.isLoggedIn()">
        <li>
          <a routerLink="/login" class="nav-button-outline">Login</a>
        </li>
        <li>
          <a routerLink="/register" class="nav-button">Registrar</a>
        </li>
      </ng-container>

      <ng-container *ngIf="authService.isLoggedIn()">
        <li>
          <a routerLink="/profile">Perfil</a>
        </li>
        <li>
          <button (click)="logout()">Logout</button>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>